<%= stylesheet_link_tag "http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" %>
<%= javascript_include_tag "http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js" %>
<%= javascript_include_tag "https://cdn.firebase.com/js/client/2.2.9/firebase.js" %>

<div style="width:1300px;" id="table-wrapper">
  <input id="show-unavailable" type="checkbox" name="available">Hide Unavailable?
<table id="players">
  <thead>
  <tr>
    <th>ESPN Ranking</th>
    <th>Name</th>
    <th>Team</th>
    <th>Position</th>
    <th>Position Ranking</th>
    <th>Bye Week</th>
    <th>Avg. Draft Pos.</th>
    <th>2013 Points</th>
    <th>PAR10</th>
    <th>PAR32</th>
    <th>2014 Projected Points</th>
    <th>PAR10</th>
    <th>PAR32</th>
    <th>Drafted</th>
  </tr>
</thead>
<tbody>
</tbody
</table>
</div>

<script>
  $(document).ready(function(){
      var playersRef = new Firebase("https://draftkit2015.firebaseio.com/players");

      $('#players').dataTable({
        "ajax": "/players",
        "paging": false,
        "columnDefs": [
          {
            "targets": [13],
            "data": function ( row, type, val, meta ) {
              return '<input class="drafted" type="checkbox" name="checked">';
            }
          }
        ]
      });

    $('#show-unavailable').on('click', function() {
      if ($(this).prop('checked')) {
        $('.drafted-true').hide();
      }
      else {
        $('.drafted-true').show();
      }
      });

    playersRef.once('value', function (dataSnapshot) {
        var player, data;
        data = dataSnapshot.val();

        for (var key in data) {
          if (data.hasOwnProperty(key)) {
            if (data[key].selected) {
              $("td:contains('" + data[key].name + "')").closest('tr').addClass('drafted-true');
              $("td:contains('" + data[key].name + "')").closest('tr').find('input').prop('checked', true);
            }
          }
        }
    });

    $('#players').on('click', '.drafted', function() {
      var name = $(this).closest('tr').find('td:nth-child(2)').text();
      var playerId = name.replace(/\s/g, '');
      var playerRef =  new Firebase("https://draftkit2015.firebaseio.com/players/" + playerId);
      if ($(this).prop('checked')) {
        if ($('#show-unavailable').prop('checked')){
          $(this).closest('tr').addClass('hide-unavailable');
        }
        else {
          $(this).closest('tr').removeClass('hide-unavailable');
        }
          $(this).closest('tr').addClass('drafted-true');
          playerRef.set({name: name, selected: true });
        }
      else {
        $(this).closest('tr').removeClass('drafted-true');
        playerRef.set({name: name, selected: false });
      }
    });
  });
</script>
